

<div id='bodybag'>
<div id='map-container' class='element-box'>
  <div id="building-map" style='height: 400px;'></div>
</div>
<div id='building-grid-container' class='element-box'>
  <div style='height: 400px;'><%= render partial:  'buildings_grid' %></div>
</div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'building-map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 40.8412091,
      "lng": -73.6956874,
      "picture": {
        
        "width":  36,
        "height": 36
      },
      "infowindow": "NYE Office!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});</script>