<h2> 

<td><%= link_to 'View Reports', reports_path %></td>

</h2>

<div class="well">
  <h2>View inspection data</h2>

</div>

<div class="row-fluid">
  <div class="span12">
<%= render partial:  'grid' %>
 </div>
</div>

