


<div id='bodybag' style='height: 100%;'>
<div id='leftpanel-container' class='top-element-box'>
<%= inline_svg "GlenheadBasementPerc.svg" %>
<!-- <div id="building-map" style='height: 100%;'></div> -->
</div>
<div id='rightpanel-container' class='top-element-box' >
  
  	

  	 <div class="bss-slides num1"  tabindex="1" autofocus="autofocus" >
           
        <div id ="panzoom" >
            <figure style="overflow: hidden; position: static;">
            
              	<%= inline_svg "GlenheadBasementPerc.svg" %>
              	 
              
            </figure>
            </div>
            	
</div>
 				<div id = "buttons">
              	<button class="zoom-in">Zoom In</button>
				<button class="zoom-out">Zoom Out</button>
				
				<button class="reset">Reset</button>
				 </div>

 <!-- // bss-slides -->

<script>
var opts = {
    auto : {
        
        pauseOnHover : true
    },
    fullScreen : false, 

};
makeBSS('.num1', opts);

$("#svg-content").panzoom({
  $zoomIn: $(".zoom-in"),
  $zoomOut: $(".zoom-out"),
  $zoomRange: $(".zoom-range"),
  $reset: $(".reset")
});






</script>






  
</div>
<div id='bottompanel-container' class='bottom-element-box'>
<%= render partial:  'buildings_grid' %>
</div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'building-map'}}, function(){
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});</script>



