<div class="ahera-header">
<h4>
<% unless current_user.is_admin %>
<%= 'Viewing inspection data for ' + @customer.company %> 
<% else%>
<%= 'Viewing inspection data for all customers'%> 
<% end %> | 
<%= link_to 'View Reports', reports_path %>


    <div class="external-buttons-container">
      <button class="btn btn-primary wg-external-submit-button" data-grid-name="materials">Apply Filter</button>
      <button class="btn wg-external-reset-button" data-grid-name="materials">Reset Filter</button>
    </div>
    </div>
    </h4>


<!--THIS IS THE TABLE-->
<%= render partial:  'materials_grid' %>


