// Place all the styles related to the ahera controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.external-buttons-container{
	float: right;
  position: relative;
  max-width: 100px;
  margin-right: 11px;
  

}
.btn{
  width: 99px;
  float: right;
  

}
.ahera-header {
	vertical-align: center;
	height: 40px;
}
.filtered-ahera-header {
	vertical-align: center;
	height: 140px;
}
.detached-filters{
	margin-left: 10px;
}
.widegrid {
    
    width: 15em;

  }

  .smallgrid{
    
    width: 3em;
  }

  .wice-grid-title-row th{
  font-size: .8em;
    /*width:  3em;*/

}

