@mixin icon-dimensions {
  width: 10px;
  height: 10px;
}

.wg-detached-filter, .wice-grid{
  .text-filter-container {
    input{
      width: auto;
      margin-right: 10px;
      display: inline;
      }

  }

  a.date-label {text-decoration: none;}
  a.date-label:hover {text-decoration: line-through;}

  .clickable{
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  .ui-datepicker-trigger, .wg-detached-filter .ui-datepicker-trigger{
    background: transparent image-url("icons/grid/calendar_view_month.png") no-repeat;
    height: 18px;
    width: 18px;
  }

  .custom-dropdown-container{

    .collapse-multi-select-icon{
      background: transparent image-url("icons/grid/collapse.gif") no-repeat;
      position: fixed;
      width: 18px;
      height: 18px;
    }

    .expand-multi-select-icon{
      background: transparent image-url("icons/grid/expand.gif") no-repeat;
      position: fixed;
      width: 18px;
      height: 18px;
    }
  }
}

.wice-grid{

  .desc,  .asc{
    padding-right: 5px;
    text-decoration:none;
  }

  /*.desc {

    background: transparent image-url("icons/grid/arrow_down.gif") right no-repeat
  }
  .asc  {
    background: transparent image-url("icons/grid/arrow_up.gif")   right no-repeat

  }*/


  .submit.clickable{
    background: transparent image-url("icons/grid/table_refresh.png") no-repeat;
    @include icon-dimensions;
    height: 20px;
    width: 20px;

  }

  .reset.clickable{
    background: transparent image-url("icons/grid/table.png") no-repeat;
    @include icon-dimensions;
    height: 20px;
    width: 20px;
  }


  .wg-show-filter.clickable,
  .wg-hide-filter.clickable{
    background: transparent image-url("icons/grid/page_white_find.png") no-repeat;
    @include icon-dimensions;
  }


  .export-to-csv-button.clickable{
    background: transparent image-url("icons/grid/page_white_excel.png") no-repeat;
    @include icon-dimensions;
    height: 20px;
    width: 20px;
  }

  .clickable.select-all{
    background: transparent image-url("icons/grid/tick_all.png") no-repeat;
    @include icon-dimensions;
    float:left;
  }

  .clickable.deselect-all{
    background: transparent image-url("icons/grid/untick_all.png") no-repeat;
    @include icon-dimensions;
    float:left;
  }


  /* in case of twitter bootstrap :) */
  thead th select{
    width: auto;
  }

 tr.wg-filter-row  input[type=text] {
    height: 20px;
    width: auto;
  }

  .pagination_status {
    font-weight: bold;
    float: right;
  }

}

.wice-grid-query-panel{
  li {
    list-style-type: none;
  }

  ul {
    margin-left: 0;
  }

  a.wice-grid-delete-query .delete-icon{
    background: transparent image-url("icons/grid/delete.png") no-repeat;
    float: left;
    @include icon-dimensions;
  }
}

input.wice-grid-save-query-field{
  width: auto;
  display: inline-block;
  margin-right: 10px;
}


.row-fluid [class*="span"] {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 90%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  margin-left: 0%;
}


/*//////////CUSTOM///////////*/
.smallgrid input {
    height: 20px;
    max-width: 30px;
  }

  .wice-grid-title-row {
  font-size: 0.8em;
}
