<p>Welcome <%= @email %>!</p>

<p>Your temporary password is:<%= $calc_pass%> </p>

<p>You can confirm your account email through the link below. When you login you will be prompted to change your password.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
